:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.button-group {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}

.button {
  margin: 0 1rem;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  font-weight: 600;
  padding: 8px 18px;
  text-decoration: none;
  border-radius: 8px;
  font-size: 18px;
  transition: all 0.4s;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.button svg {
  margin-right: 0.5em;
}
